<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="mybatis/db.properties" />

	<settings>


		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="aggressiveLazyLoading" value="false"/>
		
	
	</settings>


	<!--配置environment环境 -->
	<environments default="development">
		<!-- 环境配置1，每个SqlSessionFactory对应一个环境 -->
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="${jdbc_driver}" />
				<property name="url" value="${jdbc_url}" />
				<property name="username" value="${jdbc_username}" />
				<property name="password" value="${jdbc_password}" />
			</dataSource>
		</environment>

	</environments>

	<!-- 映射文件，mapper的配置文件 -->

	<!--<mappers>-->
		<!--直接映射到相应的mapper文件-->
		<!--<mapper resource="mapper/TUserMapper.xml" />-->
	<!--</mappers>-->

	<mappers>
		<!--<mapper class="com.enjoylearning.mybatis.mapper.TUserMapper" />-->
		<!--<mapper resource="mapper/UserMapper.xml" />-->
		<!--<mapper resource="mapper/BusSupplierMapper.xml" />-->
		<!--<package name="com.nd.s414567.mapper"></package>-->
		<!--<mapper class="com.nd.s414567.mapper.SupplierMapper" />-->
		<package name="com.nd.s414567.mapper" />
	</mappers>


</configuration>  